
html{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;

}

body{
    background-image: linear-gradient(to bottom right, #74ebd5, #ACB6E5);
    background-repeat: no-repeat; 
    height: 500rem;
}
h1{
    margin: 50px;
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
    color: #DC143C;
}
.artist{
    text-align: center; 
    margin: auto;
    background: none;
    border: 2px solid #DC143C;
    color: #DC143C;
}
.artistButtons{
    display: flex;
    align-items: center;
    justify-content: center;

}
#artist-form{
    text-align: center; 
    margin: 25px;
}
#add-artist{
    margin: 25px;
}
#images{
    text-align: center;
    align-items: center;
    justify-content: center;
}